<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/user.css" />
    <title><%=name%></title>
  </head>
  <body>
    <div class="d1">
      <div class="user"><h1><%=login%></h1></div>
      <div class="avatar">
        <img height="200px" width="200px" src="<%=avatar_url%>" />
      </div>
    </div>
    <div class="pdetails">
      <a href="<%=html_url%>"><h2>Github Profile</h2></a>
      <h2>Joined: <%=created_at.substr(0,10)%></h2>
      <div class="followd">
        <h3>Followers:<%=followers%></h3>
        <h3>Following:<%=following%></h3>
      </div>
    </div>
  </body>
</html>
